.page-normal a,.page-current,.page-prev
{
  padding: 5px 7px;
  font-size: 18px;
  margin-left: 10px;
    border-radius: 2px;
}
.page-normal a{
  border: 1px solid #ff9600;
  color: #ff6500;
  text-decoration: none;
}
.page-normal{
  color: #ff6500;
  text-align: center;
  font-size: 0;
}
.page-current,.page-normal a:hover{
  border: 1px solid #ff6500;
  color: #ff6500;
  background-color: #ffbe94;
}
.page-prev{
  border: 1px solid #ffe3c6;
  color: #ffe3c6;
}
.ellipsis{
  font-size: 14px;
  border: none;
  margin-left: 8px;
}
