@charset "UTF-8";
@import "less/z";
@import "less/css3";

.reset();
#G-lightbox-mask{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  //filter: alpha(opacity(50%));
  z-index: 10000;
  display: none;
}
#G-lightbox-popup{
  position: fixed;
  width: 400px;
  left: 50%;
  top: 50px;
  margin-left: -200px;
  z-index: 10001;
  display: none;
  .lightbox-pic-view{
     position: relative;
     border: 5px solid #fff;
     border-radius: 3px;
     overflow: hidden;
     background: url("../img/icon/loading.gif") no-repeat center center;
     .light-box-image{
       display: block;
     }
  }
  .lightbox-btn{
    position: fixed;
    top: 0;
    width: 30%;
    height: 100%;
    z-index: 10005;
  }
  .lightbox-prev-btn{
    left: 0;
  }
   .lightbox-prev-btn-show{
     background: url(../img/icon/prev.png) no-repeat 200px center;
     cursor: pointer;
   }
  .lightbox-next-btn{
    right: 0;
  }
  .lightbox-next-btn-show{
    background: url(../img/icon/next.png) no-repeat  center;
    cursor: pointer;
  }
}
.lightbox-pic-caption{
  position: relative;
  margin: 0 5px;
  margin-top: -60px;
  background: #000;
  opacity: 0.5;
  z-index: 10005;
  .lightbox-caption-area{
    color: #fff;
    padding: 10px 5px;
    .lightbox-of-index{
      color: #999;
    }
  }
  .light-close-btn{
    position: absolute;
    top: 13px;
    right: 10px;
    width: 27px;
    height: 27px;
    cursor: pointer;
    z-index: 10006;
    background: url("../img/icon/close.png") no-repeat center center;
  }
}
