*{
  margin: 0;
  padding: 0;
}
.top-nav{
  font-size: 12px;
  font-weight: bold;
  list-style: none;
  border-bottom: 8px solid #DC4E1B;
  overflow: hidden;
}
.top-nav li{
  float: left;
  margin: 1px;
  list-style: none;
}
.top-nav li a{
  line-height: 20px;
  text-decoration: none;
  background: #DDD;
  color: #666;
  display: block;
  width: 80px;
  text-align: center;
}
.top-nav li a span{
  display: none;
  background: #DC4E1B;
  color: #FFF;
}
.top-nav li a:hover span{
  display: block;
}
.top-nav li .a:hover {
  margin-top: -20px;
}
.top-nav li ul li ul{
  position:absolute;
  top: 0;
  left: 80px;
  float: none;
}
.top-nav  ul{
  list-style: none;
  display: none;
  padding: 0;
  width: 80px;
  position: relative;
}
.top-nav li:hover ul{
  display: block;
  width: 80px;
}
.top-nav  li:hover ul li ul{
  display: none;
}
.top-nav li ul li:hover ul{
  display: block;
  position: absolute;
  top: 0px;
  left: 80px;
}
