@charset "UTF-8";
/* line 12, less\z.less */
* {
  margin: 0;
  padding: 0;
}
/* line 13, less\z.less */
li {
  list-style: none;
}
/* line 14, less\z.less */
img {
  border: none;
}
/* line 15, less\z.less */
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
/* line 16, less\z.less */
textarea {
  resize: none;
}
/* line 17, less\z.less */
a {
  text-decoration: none;
}
/* line 6, master.less */
body {
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}
/* line 10, master.less */
.header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 3;
}
/* line 21, master.less */
.icon {
  margin: 5px 0 3px 40px;
  float: left;
  display: inline;
}
/* line 26, master.less */
.nav {
  float: right;
  display: inline;
  height: 50px;
  line-height: 50px;
}
/* line 30, master.less */
.nav button {
  width: 80px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  border-radius: 2px;
  border: 1px solid #aaa;
}
/* line 40, master.less */
#note {
  background-color: #007edf;
  color: #fff;
  margin: 0 10px;
}
/* line 46, master.less */
#inf {
  background-color: #f2f2f2;
  color: #8298B6;
  margin: 0 20px 0 10px;
}
/* line 53, master.less */
#user {
  z-index: 2;
  width: 184px;
  height: 140px;
  position: absolute;
  right: 19px;
  top: 47px;
  border: solid 2px #ccc;
  background: #fff;
  display: none;
}
/* line 63, master.less */
#user li {
  list-style: disc;
  font-size: 14px;
  padding: 5px 5px;
  margin-left: 20px;
  height: 20px;
}
/* line 72, master.less */
.note_me {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 78, master.less */
.note_me #mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 5;
}
/* line 89, master.less */
.note_me #popup {
  position: fixed;
  width: 600px;
  height: 550px;
  left: 50%;
  top: 35px;
  margin-left: -300px;
  z-index: 10;
  background-color: #fff;
}
/* line 99, master.less */
.note_me #popup .title {
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid #ccc;
  font-size: 25px;
  color: #555;
  padding: 0 20px;
}
/* line 107, master.less */
.note_me #popup .icon {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  background: url("../img/close.png") no-repeat;
}
/* line 115, master.less */
.note_me #popup .con {
  font-size: 15px;
  height: 410px;
  width: 550px;
  margin: 20px 5px;
  padding: 5px 20px;
  color: #666;
}
/* line 123, master.less */
.note_me #popup .con .date input {
  width: 540px;
  height: 26px;
  border: 1px solid #c5c5c5;
  margin: 10px 0;
  padding: 2px 5px;
  background: url(../img/date.png) top right no-repeat;
}
/* line 132, master.less */
.note_me #popup .con .mood {
  margin: 0 5px;
  width: 100%;
  height: 116px;
}
/* line 136, master.less */
.note_me #popup .con .mood ul {
  margin-top: 10px;
}
/* line 139, master.less */
.note_me #popup .con .mood li {
  float: left;
  display: inline;
  margin: 0 8px;
}
/* line 145, master.less */
.note_me #popup .con .note span {
  display: block;
}
/* line 148, master.less */
.note_me #popup .con .note textarea {
  width: 540px;
  height: 137px;
  border: solid 1px #ccc;
  margin-top: 5px;
}
/* line 157, master.less */
.note_me #popup button {
  width: 52px;
  height: 29px;
  margin: 10px 30px;
  border: solid 1px rgba(149, 151, 158, 0.98);
  border-radius: 2px;
}
/* line 168, master.less */
.add_com_text {
  display: none;
  position: fixed;
  width: 600px;
  height: 333px;
  left: 50%;
  top: 35px;
  margin-left: -300px;
  z-index: 10;
  background-color: #fff;
}
/* line 178, master.less */
.add_com_text .icon {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  background: url("../img/close.png") no-repeat;
}
/* line 186, master.less */
.add_com_text .title {
  height: 47px;
  line-height: 55px;
  font-size: 20px;
  color: #555;
  padding: 5px 29px;
}
/* line 193, master.less */
.add_com_text textarea {
  display: block;
  width: 540px;
  height: 200px;
  border: solid 1px #ccc;
  margin: 15px 29px;
  border-radius: 2px;
}
/* line 201, master.less */
.add_com_text button {
  margin: 10px 30px;
}
/* line 206, master.less */
#mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 5;
}
/* line 218, master.less */
.content {
  width: 100%;
  height: 800px;
  z-index: 1;
}
/* line 224, master.less */
.leftArea {
  border-right: 1px solid #ccc;
  width: 19%;
  position: absolute;
  top: 50px;
  left: 0;
  float: left;
  display: inline;
}
/* line 231, master.less */
.leftArea .date {
  margin-top: 20px;
  margin-left: 15px;
  border-bottom: solid 1px #E5E5E5;
}
/* line 236, master.less */
.leftArea .c_de {
  margin: 20px 8px;
}
/* line 238, master.less */
.leftArea .c_de div > li {
  display: block;
  line-height: 40px;
  padding: 10px 20px;
  padding-right: 0;
  font-size: 15px;
  color: #a5a5a5;
  cursor: pointer;
}
/* line 246, master.less */
.leftArea .c_de div > li:hover {
  color: #333;
}
/* line 251, master.less */
.leftArea .gd {
  display: none;
  margin: 0 20px 10px;
}
/* line 254, master.less */
.leftArea .gd li {
  cursor: pointer;
  display: block;
  line-height: 30px;
  font-size: 15px;
  padding: 5px 20px;
  color: #a5a5a5;
}
/* line 261, master.less */
.leftArea .gd li:hover {
  color: #333;
}
/* line 268, master.less */
.rightArea {
  margin-top: 50px;
  width: 79%;
  float: right;
  display: inline;
}
/* line 273, master.less */
.rightArea .departments div > li {
  display: block;
  height: 45px;
  line-height: 45px;
  border: solid 1px #E5E5E5;
  background: #F5F5F5;
  margin: 30px 15px 0;
  padding-left: 20px;
  cursor: pointer;
}
/* line 282, master.less */
.rightArea .departments div > li .num {
  display: inline-block;
  padding-left: 30px;
}
/* line 287, master.less */
.rightArea .departments div .gs {
  border: solid 1px #e5e5e5;
  border-top: none;
  margin: 15px;
  margin-top: 0;
  display: none;
}
/* line 293, master.less */
.rightArea .departments div .gs .name {
  float: left;
  display: inline;
  padding-right: 30px;
}
/* line 297, master.less */
.rightArea .departments div .gs > li {
  display: block;
  background: #fff;
  width: 90%;
  line-height: 30px;
  padding: 10px 20px;
  font-size: 15px;
  color: #dd0000;
}
/* line 306, master.less */
.rightArea .departments div .gs .name {
  width: 150px;
  height: 30px;
  font-weight: bold;
  font-size: 17px;
  margin: 15px 20px;
  color: #707173;
  float: left;
  display: inline;
}
/* line 315, master.less */
.rightArea .departments div .gs .mood {
  height: 30px;
  font-weight: bold;
  font-size: 17px;
  margin: 15px 20px;
  color: #555;
}
/* line 322, master.less */
.rightArea .departments div .gs .note {
  font-weight: bold;
  font-size: 17px;
  margin: 15px 20px;
  color: #555;
}
/* line 327, master.less */
.rightArea .departments div .gs .note .noteCon {
  font-size: 14px;
  color: #555;
}
/* line 334, master.less */
.rightArea .date {
  font-size: 20px;
  padding: 15px 20px;
  color: #8298B6;
}
/* line 339, master.less */
.rightArea .de {
  font-size: 16px;
  margin-top: 20px;
  color: #8298B6;
  float: left;
  display: inline;
}
/* line 345, master.less */
.rightArea .name {
  font-weight: bold;
  font-size: 20px;
  margin: 15px 20px;
  float: left;
  display: inline;
}
/* line 351, master.less */
.rightArea .note_nav {
  margin-top: 80px;
}
/* line 353, master.less */
.rightArea .note_nav div > li {
  display: block;
  height: 45px;
  line-height: 45px;
  border: solid 1px #E5E5E5;
  background: #F5F5F5;
  margin: 30px 15px 0;
  padding-left: 20px;
  cursor: pointer;
}
/* line 363, master.less */
.rightArea .note_nav .notess {
  border: solid 1px #e5e5e5;
  border-top: none;
  height: auto;
  padding: 10px 15px;
  font-size: 17px;
  line-height: 40px;
  margin: 15px;
  margin-top: 0;
}
/* line 372, master.less */
.rightArea .note_nav .notess .con {
  font-size: 14px;
}
/* line 375, master.less */
.rightArea .note_nav .notess .comment {
  font-size: 14px;
  margin: 10px 0;
}
/* line 378, master.less */
.rightArea .note_nav .notess .comment a:hover {
  text-decoration: none;
  cursor: pointer;
}
/* line 382, master.less */
.rightArea .note_nav .notess .comment .all_com {
  display: none;
  font-size: 12px;
}
/* line 387, master.less */
.rightArea .note_nav .notess .add_comment {
  font-size: 14px;
  border-top: solid 1px #e5e5e5;
  height: 60px;
  line-height: 60px;
}
/* line 392, master.less */
.rightArea .note_nav .notess .add_comment a:hover {
  text-decoration: none;
  cursor: pointer;
}
/* line 397, master.less */
.rightArea .note_nav .notess .add_ssuccess {
  background: #2ECC71;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  width: 250px;
  padding: 10px;
  margin: 10px;
  position: fixed;
  top: -4px;
  right: 10px;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 10;
  opacity: 0.8;
}
/* line 418, master.less */
.po_fx {
  position: fixed;
}
/* line 422, master.less */
.po_fx_l {
  position: fixed;
  left: 21%;
}
/*# sourceMappingURL=master.css.map */