.experiment{
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  -webkit-transform-style: -webkit-preserve-3d;
  -moz-transform-style: -moz-preserve-3d;
  -o-transform-style: -o-preserve-3d;
}
.block{
  width: 500px;
  height: 500px;
  background-color: #69C;
  margin: 100px auto;

  transform: rotateX(45deg);
  -webkit-transform: rotateX(45deg);
  -moz-transform: rotateX(45deg);
  -o-transform: rotateX(45deg);
}
