@charset "UTF-8";
@import "less/z";
@import "less/css3";

@link_color:#333;
@link_hover:#fa7d3c;
@body_bgc:#99d6f3;
@main_bgc:#7fc3e2;
@main_width:1000px;
@lw:750px;
@rw:230px;
@l_con_w:150px;
@a_hover:rgba(255,255,255,0.2);

.reset();

body{
  background-color: @body_bgc;
}
.logo{
  height: 29px;
  width: 83px;
  background: url("../img/logo.png")left top no-repeat;
  .fl();
  margin: 8px 25px 11px 320px;
}
.header{
  @h:48px;
  @border: 2px;

  height: @h;
  width: 1000px;
  .fl();
  a{
    display: block;
    height: 100%;
  }
  &_content{

    background-color: #fff;
    border-top:@border solid @link_hover;
    .clearfix();
  }
  .search{
    @w:568px;
    @h:28px;
    @input_w:520px;
    width: auto;
    height: @h;
    .fl();
    border: solid 1px #ccc;
    background-color: #f2f2f5;
    margin: 10px 0;
    &_input{
      width: @input_w;
      height: @h;
      line-height: @h~"\9";
      padding: 0 8px;
      @media screen and (min-width: 1295px)
    }
    &_btn{
      width: 17px;
      height: 16px;
      background: url("../img/search.png") left top no-repeat;
      margin-top: 5px;
      margin-right: 10px;
      .fr();
    }
  }
  &Nav{
    .fl();
    height: 22px;
    margin: 13px 0;
    margin-left: 50px;
    border-right: solid 1px #ccc;
    li{
      .fl();
      .font-fm();
      .font-s16();
      margin-right: 29px;
    }
    a{
      height: 22px;
      line-height: 22px;
      .d-ib();
      padding-left: 26px;
      color: @link_color;
      &:hover{
        color: @link_hover;
      }
    }
    #icon_01{
      background: url("../img/icon_01.png")left center no-repeat;
    }
    #icon_02{
      background: url("../img/icon_02.png")left center no-repeat;
    }
    #icon_03{
      background: url("../img/icon_03.png")left center no-repeat;
    }
    #icon_04{
      background: url("../img/icon_04.png")left center no-repeat;
    }
  }
}
.header_list{
  .fl();
  height: 22px;
  margin: 13px 10px;
  li{
    .fl();
    .font-fm();
    .font-s16();
    margin-right: 29px;
  }
  a{
    height: 22px;
    line-height: 22px;
    .d-ib();
    padding-left: 26px;
    color: @link_color;
    &:hover{
      color: @link_hover;
    }
  }
}
#iv_01{
  background: url("../img/iv_01.png")left center no-repeat;
}
#iv_02{
  background: url("../img/iv_02.png")left center no-repeat;
}
#iv_03{
  background: url("../img/iv_03.png")left center no-repeat;
}
.main{
  width: @main_width;
  .bc();
  background-color: @main_bgc;
  height: 400px;
  padding-top: 16px;
  .clearfix();
}
.leftArea{
  width: @lw;
  .fl();
}
.rightArea{
  width: @rw;
  .fr();
    margin-right: 10px;
}
.leftArea_cont{
  width: @l_con_w;
  .fl();
}
.leftCont{
  width: @lw - @l_con_w;
  .fr();
}
.nav{
  .font-s14();
  .font-fm();
  line-height: 34px;

  >li>a{
    color: #FFF;
    height: 34px;
    line-height: 34px;
    padding:0 0 0 15px;
    &:hover{
      background-color: @a_hover;
    }
  }
  li span{
    position: absolute;
    left: 15px;
    top: 10px;
    display: block;
    height: 12px;
    width: 13px;
  }
  #list01{
    background: url("../img/list01.png")left top no-repeat;
  }
  #list02{
    background: url("../img/list02.png")left top no-repeat;
  }
  #list03{
    background: url("../img/list03.png")left top no-repeat;
  }
  &_line{
    height: 1px;
    background-color: #80B9DB;
    margin: 13px 0 13px 0;
    position: relative;
  }
  #set{
    position: absolute;
    top: -8px;
    left: 110px;
    display: block;
    width: 16px;
    height: 16px;
    background: url("../img/set.png") left top no-repeat;
  }
  .strong_font{
    font-weight: bold;
  }
}
.nav_list{
  >li>a{
    padding-left: 30px;
  }
}
.releaseBox{
  @h:165px;
  @pt:15px;
  height: @h - @pt;
  padding-top: @pt;
  background-color: #FFF;
  .border-radius(2px);
  .release_top{
    padding: 0 12px;
    .clearfix();
    margin-bottom: 8px;
  }
  .release_text{
    height: 18px;
    width: 177px;
    background: url("../img/new_bg.png")left center no-repeat;
    text-indent: -99em;
    .fl();
  }
  .release_link{
    .fr();
    height: 18px;
    line-height: 18px;
    .font-fm();
    .font-s12();
    a{
      color:#32a2d5;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .release_area{
    height: 78px;
    border: solid 1px #ccc;
    margin: 0 10px 5px;
  }
  textarea{
    width: 100%;
    height: 78px;
    line-height: 20px;
    .font-fm();
    .font-s12();
    margin: 5px 5px;
  }
  .release_select{
    .clearfix();
    padding: 0 10px;
  }
  .release_texts{
    .fl();
    .font-fm();
    .font-s12();
    padding-top: 4px;
    li{
      .fl();
      margin-right: 20px;
    }
    a{
      height: 19px;
      line-height: 19px;
      display: inline-block;
      color: @link_color;
      padding-left: 25px;
      &:hover{
        color: @link_hover;
      }
    }
    #re_s01{
      background: url("../img/re_s01.png")left center no-repeat;
    }
    #re_s02{
      background: url("../img/re_s02.png")left center no-repeat;
    }
    #re_s03{
      background: url("../img/re_s03.png")left center no-repeat;
    }
    #re_s04{
      background: url("../img/re_s04.png")left center no-repeat;
    }
    #re_s05{
      background: url("../img/re_s05.png")left center no-repeat;
    }
    #re_s06{
      background: url("../img/re_s06.png")left center no-repeat;
    }
  }
  .release_btns{
    .fr();
  }
  .u_release_btn{
    width: 82px;
    height: 30xp;
    background-color: #ffc09f;
    .border-radius(2px);
    .font-fm();
    .font-s14();
    color:#FFF;
  }
  .u_btn_active{
    background-color: #ff8140;
  }
}
.showList{
  width:600px;
  height:5564px;
  margin-top: 15px;
  .clearfix();
  .item{
    margin-bottom: 15px;
    border-radius: 2px;
    height: 270px;
    padding: 10px 16px 10px 10px;
    background-color: #fff;
    .item_cont{
      margin-top: -20px;
      dt img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: block;
        .fl();
      }
      .item_userName{
        a{
          color:#333;
          .font-s14();
          font-weight: 700;
      }
      .v{
        width: 14px;
        height: 14px;
        margin-left: 3px;
        display: inline-block;
        background: url("../img/v.png") top center no-repeat;
      }
    }
      .item_content{
        img{
          display: block;
          width: 120px;
          height: 120px;
          margin-left: 55px;
        }
      }
    }
  }
  //操作
  .item_option{
      height: 22px;
      padding: 8px 0;
      border-top:  solid 1px #ccc;
      .clearfix();
      .tc();
      li{
        .fl();
        width: 25%;
        height: 22px;
        border-right: solid 1px #ccc;
      }
      #last{
        border-right: none;
      }
      a{
        color: @link_color;
        &:hover{
          color:#32a2d5;
          text-decoration: none;
        }
      }
  }
}
//用户卡片
.userCard{
  @h:150px;
  height: @h;
  .border-radius(2px);
  background-color: #fff;
  .userCardBg{
    background-image: url(http://img.t.sinajs.cn/t5/skin/public/profile_cover/028_s.jpg?version=b0e0732254195c8b);
    height: 65px;
  }
}
.userHead{
  @h: 58px;
  .tc();
  .font-fm();
  height: 40px;
  h3{
    margin-top: 5px;
    margin-bottom: 3px;
    .font-s14();
  }
  img{
    margin-top: -42px;
    height: @h;
    width: @h;
    vertical-align: top;
    border-radius: 50%;
    border: solid 4px #ccc;
  }
}
.userLinks{
  @w:65px;
  width: @w*3;
  height: 33px;
  .clearfix();
  .bc();
  li{
    .fl();
    width: @w;
    height: 33px;
    margin-right: -1px;
    border-right: solid 1px #ccc;
    text-align: center;
    .tc();
    .font-s14();
  }
  .last{
    border-right: none;
  }
  a{
    color:@link_color;
  }
  strong{
    .d-ib();
    width: @w;
    .font-s18();
    .font-fa();
  }
}
.song{
  height: 250px;
  margin-top: 15px;
  background-color: #fff;
  .border-radius(2px);
  .head{
    height: 39px;
    line-height: 39px;
    border-bottom: solid 1px #ccc;
    a{
      color:@link_color;
      .font-fm();
      .font-s16();
      width: 144px;
      margin: 0 auto;
      display: block;
      &:hover{
        color: @link_hover;
      }
    }
  }
  li{
    height: 36px;
    width: 210px;
    border-bottom: solid 1px #ccc;
    background: url(../img/play.png) center right no-repeat;
    a{
      color: @link_color;
      .font-fm();
      .font-s14();
      display: block;
      height: 36px;
      line-height: 36px;
      padding-left: 100px;
      &:hover{
        color: @link_hover;
      }
    }
    span{
      background-color: @link_hover;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      display: inline-block;
      margin-left: 65px;
    }
  }
  .active{
    background: url(../img/play_1.png) center left no-repeat;
    height: 96px;
    a{
      line-height: 96px;
    }
    span{
      margin-top: 30px;
    }
    img{
      display: none;
    }
  }
  .foot{
    height: 36px;
    line-height: 36px;
    text-align: center;
  }
}
//热门话题
.hotBox{
  background-color: #fff;
  .border-radius(2px);
}
.hot_title{
  height: 38px;
  line-height: 38px;
  .font-fm();
  .clearfix();
  padding: 0 10px;
  border: solid 1px #ccc;
  h3{
    .fl();
    .font-s14();
    margin: 10px;
  }
  a{
    .fr();
    .font-s12();
    color: @link_color;
  }
}
.hot_list{
  padding-top: 12px;
  .font-fm();
  .font-s12();
  padding: 12px 10px 0;
  li{
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    a{
      color:@link_color;
      .fl();
      &:hover{
        color: #32a2d5;
      }
    }
    span{
      .fr();
    }
  }
}
.hot_more{
  .font-fm();
  .font-s12();
  height: 38px;
  line-height: 38px;
  border-top: solid 1px #ccc;
  .tc();
  a{
    color:@link_color;
    .fl();
    &:hover{
      color: #32a2d5;
    }
  }
}
