ul{
  list-style: none;
  padding-left: 0;
}
#sidebar{
  width: 35px;
  background-color: #e1e1e1;
  padding-top: 200px;
  position: fixed;
  min-height: 100%;
  z-index: 100;
}
.item{
  font-size: 12px;
  font-family: "微软雅黑";
  text-align: center;
  margin-top: 5px;
  cursor: pointer;
}
#closeBar{
  position: absolute;
  bottom: 30px;
  width: 35px;
  text-align: center;
  cursor: pointer;
}
.nav-content{
  width: 200px;
  position: fixed;
  min-height: 100%;
  background-color: #e1e1e1;
  border: 1px solid black;
  z-index: 99;
  opacity: 0;
}
.nav-con-close{
  position: absolute;
  top: 5px;
  right: 5px;
}
.sidebar-move-left{
  animation-name:smf ;
  animation-duration: 1s ;
  animation-iteration-count:1 ;
  animation-fill-mode: forwards;
}
@keyframes smf{
  from{
  }
    to{
      transform: translateX(-120px);
    }
}
.closeBar-move-right{
  left: 160px;
}
