/*
    * Busy 收集 整理
 */
/*雅虎（YUI 3）reset*/
/*Normalize.css*/
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  border: none;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
.snake_game {
  margin: 5px;
  outline: none;
}
.snake_game header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 600;
  height: 30px;
  line-height: 30px;
}
.snake_game .left {
  display: none;
  float: left;
  display: inline;
  width: 23%;
  margin: 50px 30px;
}
.snake_game .left .title {
  color: #152077;
  font-size: 30px;
  margin: 20px auto;
  width: 255px;
}
.snake_game .left .rules {
  font-size: 20px;
  line-height: 30px;
  color: #FB1801;
}
.snake_game .game_body {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background: #222;
  position: relative;
}
.snake_game .game_body .cell {
  width: 15px;
  height: 15px;
  position: absolute;
  float: left;
  display: inline;
}
.snake_game .game_body .food_cell {
  background: #0b3;
  border-radius: 7.5px;
  box-shadow: 0 0 2.5px #0b3;
}
.snake_game .game_body .snake_cell {
  background: #39c;
  box-shadow: 0 0 2.5px #39c;
}
.snake_game .game_body .bullet_cell {
  background: #F5EF06;
  box-shadow: 0 0 2.5px #F5EF06;
  border-radius: 7.5px;
}
.snake_game .game_body .monster_cell {
  background: #FB1801;
  box-shadow: 0 0 2.5px #FB1801;
  border-radius: 7.5px;
}
.snake_game .game_over {
  z-index: 2;
  position: fixed;
  left: 43%;
  top: 50%;
  padding: 10px;
  font-size: 30px;
  background: rgba(215, 212, 202, 0.56);
}
.snake_game button {
  z-index: 2;
  position: fixed;
  left: 47%;
  top: 75%;
  padding: 4px;
  font-size: 28px;
  background: #d7d4ca;
}
