@charset "UTF-8";
/*公用*/
.comWidth{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.leftArea{
  float: left;
}
.rightArea{
  float: right;
}
/*topBar*/
.topBar{
  height: 31px;
  background-color: #F7F7F7;
  line-height: 31px;
}
.collection{
  background: url(#) left center no-repeat;
  padding-left: 19px;
  font-weight: bold;
}
.topBar a:hover{
  color: red;
}
/*logo*/
.logoBar{
  height: 85px;
  background-color: #1D7AD9;
}
.logo{
  padding-left: 41px;
  padding-top: 13px;
}
/*search*/
.search_box{
  width: 430px;
  padding-top: 23px;
  padding-left: 185px;
}
.search_text{
  width: 350px;
  height: 14px;
  line-height: 14px;
  padding: 11px 5px 10px;;
  background-color: #FFF;
}
/*
.search_text{
  width: 350px;
  height: 35px;
  line-height: 35px\9;//css hack \9代表所有的ie浏览器
  padding: 0px 5px;
  background-color: #FFF;
}
*/
.search_btn{
  width: 70px;
  height: 35px;
  font-size: 14px;
  font-family: "微软雅黑";
  background-color: #Ff8C00;
  color: #FFF;
}
/*购物车*/
.shopCar{
  font-size: 14px;
  font-family: "微软雅黑";
  color: #FFF;
  width: 145px;
  height: 35px;
  line-height: 35px;
  background: #FF8C00;
  margin-top: 23px;
  margin-right: 59px;
}
.shopText{
  height: 100%;
  width: 87px;
  border-right: #E27A00 solid 1px;
  background: url() 10px center no-repeat;
  text-indent: 40px;/*首行缩进*/
}
.shopNum{
  width: 27px;
  height: 35px;
  border-left: #FF9C01 solid 1px;
  background: url() 33px center no-repeat;
  text-align: right;
  padding-right: 29px;
}
/*导航*/
.navBox{
  height: 35px;
  background-color: #1369C0;
  color: #FFF;
  font-size: 14px;
  font-family: "微软雅黑";
}
.shopClass{
  width: 190px;
  position: relative;
}
.shopClass h3{
    text-align: center;
    line-height: 35px;
}
.shopClass i{
  width: 11px;
  height: 7px;
  overflow: hidden;
  background: url() left ceter no-repeat;
  display: inline-block;
  margin-left: 11px;
}
.nav{
  line-height: 35px;
}
.nav li{
  float: left;
}
.nav a{
  height: 35px;
  display: inline-block;
  padding: 0 35px;
  color: #FFF;
}
.nav .active{
  background-color: #4593FD;
}
/*商品弹出列表*/
.shopClass_show{
  background-color: #4593FD;
  position: absolute;
  left: 0;
  top: 35px;
  width: 100%;
}
.shopClass_item{
  padding: 14px 10px;
  border-bottom: #3487F2 solid 1px;
  border-top: #5AA1FE solid 1px;
}
.shopClass_item dt{
  height: 22px;
}
.shopClass_item .b{
  font:14px/1 "微软雅黑";
  padding-left: 10px;
}
.shopClass_item a{
  color: #FFF;
}
.shopClass_item .aLink{
  width: 48px;
  height:20px;
  background: url() left  center no-repeat;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  text-decoration: underline;
}
/*banner*/
.banner_bar{
  width: 810px;
  height: 326px;
  float: right;
  position: relative;
  overflow: hidden;
}
.imgBox{
  width: 1620px;
  height: 326px;
  position: absolute;
  top: 0;
  left: 0;
}
.imgBox li{
  float: left;
}
.imgBox img{
  width: 810px;
  height: 326px;
  display: block;
}
.imgNum{
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;
  text-align: center;
}
.imgNum a{
  width: 20px;
  height: 5px;
  overflow: hidden;
  background-color: #FFF;
  display: inline-block;
  margin: 0 3px;
}
.imgNum .active{
  background-color: #FF7700;
}
