@font-face {
font-family: 'YouYuan459700';
src: url('YouYuan.eot');
src: url('YouYuan.eot?#iefix') format('embedded-opentype'),
     url('YouYuan.woff') format('woff'),
     url('YouYuan.ttf') format('truetype'),
     url('YouYuan.svg#YouYuan') format('svg');
    font-weight: normal;
    font-style: normal;
   }