@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  border: none;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
.nav_ul {
  position: absolute;
  left: -7px;
  top: 38px;
  background-color: #fff;
  border: solid 1px #dadada;
  display: block;
  width: 90px;
}
.nav_ul li {
  height: 25px;
  line-height: 25px;
  text-align: center;
}
.nav_ul li + li {
  border-top: solid 1px #dadada;
}
.nav_ul li:hover {
  background-color: #ccc;
}
.header {
  height: 38px;
  border-bottom: solid 1px #dadada;
  *zoom: 1;
}
.header:before,
.header:after {
  display: table;
  content: "";
  line-height: 0;
}
.header:after {
  clear: both;
}
.login {
  float: right;
  display: inline;
  width: 200px;
}
.nav {
  width: 1000px;
  height: 35px;
  margin: 0 auto;
}
.nav > ul > li {
  float: left;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin: 0 9px;
}
.nav li a {
  font-size: 12px;
  font-family: "Microsoft Yahei", "微软雅黑";
  color: #666666;
}
.nav li a:hover {
  color: #333333;
}
.nav .more {
  padding-right: 25px;
  border-right: solid 1px #dadada;
  position: relative;
}
.nav .more span {
  display: block;
  width: 7px;
  height: 7px;
  background: url('../img/more.png') left top no-repeat;
  position: absolute;
  left: 25px;
  top: 15px;
}
.nav .more > ul {
  position: absolute;
  left: -7px;
  top: 38px;
  background-color: #fff;
  border: solid 1px #dadada;
  display: block;
  width: 90px;
}
.nav .more > ul li {
  height: 25px;
  line-height: 25px;
  text-align: center;
}
.nav .more > ul li + li {
  border-top: solid 1px #dadada;
}
.nav .more > ul li:hover {
  background-color: #ccc;
}
.nav .help {
  padding-right: 25px;
  border-right: solid 1px #dadada;
  position: relative;
  border-right: none;
}
.nav .help span {
  display: block;
  width: 7px;
  height: 7px;
  background: url('../img/more.png') left top no-repeat;
  position: absolute;
  left: 25px;
  top: 15px;
}
.nav .help > ul {
  position: absolute;
  left: -7px;
  top: 38px;
  background-color: #fff;
  border: solid 1px #dadada;
  display: block;
  width: 90px;
}
.nav .help > ul li {
  height: 25px;
  line-height: 25px;
  text-align: center;
}
.nav .help > ul li + li {
  border-top: solid 1px #dadada;
}
.nav .help > ul li:hover {
  background-color: #ccc;
}
.userHead,
.userWeibo,
.userKongjian,
.userMail {
  float: left;
  display: inline;
  color: #666666;
  height: 35px;
  line-height: 35px;
  position: relative;
  padding-left: 20px;
  margin: 0 2px;
}
.userHead img,
.userWeibo img,
.userKongjian img,
.userMail img {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 0;
}
.userHead:hover,
.userWeibo:hover,
.userKongjian:hover,
.userMail:hover {
  background-color: #ccc;
}
.userWeibo,
.userKongjian,
.userMail {
  padding-left: 20px;
}
.logo {
  position: relative;
  height: 59px;
  width: 1000px;
  margin: 0 auto;
}
.logo img {
  float: left;
  display: inline;
}
.logo .search {
  border: solid 1px #dadada;
  float: right;
  display: inline;
  width: 236px;
  height: 22px;
  margin: 16px 1px 0;
  background: url("../img/search.png") top right no-repeat;
}
.logo #text {
  width: 178px;
  height: 22px;
  float: left;
  display: inline;
}
.navigation {
  width: 1000px;
  height: 37px;
  border-top: solid 2px #CB0D0D;
  margin: 0 auto;
}
.navigation li {
  float: left;
  display: inline;
  margin-left: 0;
  border-bottom: solid 1px #dadada;
}
.navigation li a {
  width: 61.5px;
  text-align: center;
  display: inline-block;
  color: #666666;
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 13px;
}
.navigation li:hover {
  border-left: solid 1px #dadada;
  background-color: #CB0D0D;
}
.navigation li:hover a {
  color: #fff;
}
.navigation li + li {
  border-right: solid 1px #dadada;
}
.navigation #first {
  border-left: solid 1px #dadada;
  background-color: #CB0D0D;
}
.navigation #first a {
  color: #fff;
}
.weather {
  height: 42px;
  width: 1000px;
  margin: 0 auto;
  *zoom: 1;
}
.weather:before,
.weather:after {
  display: table;
  content: "";
  line-height: 0;
}
.weather:after {
  clear: both;
}
.weather span {
  float: left;
  display: inline;
  padding-right: 20px;
}
.weather img {
  display: block;
  width: 15px;
  height: 15px;
  float: left;
  display: inline;
  margin-right: 10px;
  margin-top: 3px;
}
.content {
  width: 1000px;
  margin: 0 auto;
}
.leftArea {
  width: 686px;
  height: 7329px;
  border-top: solid 1px #dadada;
  border-right: solid 1px #dadada;
}
.hot1 {
  width: 670px;
  height: 70px;
  margin-right: 15px;
  padding: 10px 0 20px;
  border-bottom: dotted 1px #dadada;
}
.hot1 h3 {
  padding-bottom: 2px;
  padding-left: 10px;
}
.hot1 h3 a {
  font-size: 24px;
  color: #333333;
}
.hot1 li {
  float: left;
  display: inline;
  padding-top: 15px;
  padding-left: 20px;
}
.hot1 li a {
  font-size: 14px;
}
.hot1 a {
  color: #333333;
}
.hot1 a:hover {
  color: #FF1737;
}
.hot2 {
  height: 90px;
  border-bottom: dotted 1px #dadada;
}
.hot2 .hot_img {
  float: left;
  display: inline;
}
.hot2 .con h3 {
  padding-bottom: 2px;
  padding-left: 170px;
  font-size: 20px;
}
.hot2 .con li {
  padding-top: 10px;
  padding-left: 200px;
}
.hot2 .con li a {
  font-size: 12px;
}
.hot2 .con a {
  color: #333333;
}
.hot2 .con a:hover {
  color: #FF1737;
}
.Q-list {
  margin: 5px;
  height: 25px;
  line-height: 17px;
}
.Q-list li {
  float: left;
  display: inline;
  padding: 5px 10px 0;
}
.Q-list li a {
  font-size: 12px;
  font-family: "Microsoft Yahei", "微软雅黑";
  color: #333333;
}
.Q-list li a:hover {
  color: #FF1737;
}
.Q-list li + li {
  border-left: solid 1px #dadada;
}
.class_list {
  height: 37px;
  width: 650px;
  border: solid 1px #dadada;
  margin-top: 10px;
}
.class_list li {
  float: left;
  display: inline;
  width: 80px;
  text-align: center;
  line-height: 35px;
}
.class_list li a {
  color: #333333;
  font-size: 14px;
}
.class_list li a:hover {
  color: #FF1737;
}
.class_list li + li {
  border-left: solid 1px #dadada;
}
